<div class="container1">
    <img src="assets/imagenes_extras/imagen_principal.png" alt="Trabajador ajustando algo" class="img-fluid">
</div>


<div class="container3">
    <h1 class="mayus">Bob,</h1>
    <h1>Tu Conector de Soluciones Domésticas</h1>
    <div class = "container4"><button class="custom-button" routerLink="/chatbot">Habla con Bob!</button></div>
</div>



<div class="container2">
    <div class="imagen-cuadros">
        <img src="assets/imagenes_extras/diseño_cuadros.png" alt="diseño de cuadros" class="img-fluid">
    </div>
    <div class="col-sm-4 texto-principal">
        <p>Descubre la forma más eficiente de unirte a una comunidad donde resolver tus necesidades es nuestra prioridad. Nuestro chat interactivo está listo para guiarte hacia la solución ideal. Conéctate, consulta y resuelve, todo en un lugar.</p>
    </div>
</div>




