<body>
<div class="container-md container-base">

  <div class="contenedor">
    <div class="contenedor-title">
      <h1 id = 'titulo'>Sobre Nosotros</h1>
    </div>
    <div class="contenedor-text">
      <p id="texto1">Somos un equipo de estudiantes apasionados de ingeniería de sistemas de la Universidad de Los Andes, comprometidos con la innovación y la excelencia. Con un enfoque en tecnología de vanguardia, nuestro objetivo es ofrecer una solución integral que abarque desde la fácil búsqueda y selección de trabajadores hasta la gestión y seguimiento de los servicios contratados.</p>
    </div>
  </div>

  <div class="row contenedor2">
    <div class="col-md-6 cont-img">
      <img src="assets/iconos/bob.png" alt="Bob saliendose de la pantalla">
    </div>
    <div class="col-md-6 cont-sec">
      <div class="container">
        <h1>Nuestra mision</h1>
      </div>
      <div class="cont-mision">
        <p class="texto2">En Bob, nuestra misión es simplificar la manera en que los hogares encuentran y contratan servicios domésticos. Entendemos los desafíos que enfrentan las familias al buscar profesionales confiables y competentes para sus necesidades domésticas. Por eso, hemos creado una plataforma que no solo facilita estos encuentros sino que también asegura calidad y confianza en cada servicio.</p>
      </div>
    </div>
  </div>
  <div class="container-md footer-impr">

    <div class="row nombres">
      <p class="col">Andrea Galindo</p>
      <p class="col">Maria Fernanda</p>
      <p class="col">Santiago Molina</p>
      <p class="col">Santiago Navarrete</p>
      <p class="col">Luis Fernando Ruiz</p>

    </div>
    <div class="row">
      <div class="col"><img class="fotos" src="assets/nosotros/andrea.png" alt=""></div>
      <div class="col"><img class="fotos" src="assets/nosotros/mafe.png" alt=""></div>
      <div class="col"><img class="fotos" src="assets/nosotros/molina.png" alt=""></div>
      <div class="col"><img class="fotos" src="assets/nosotros/santiago.png" alt=""></div>
      <div class="col"><img class="fotos" src="assets/nosotros/luis.png" alt=""></div>
    </div>
  </div>
</div>
  
<div class="integrantes">
</div>

</body>