<div class="container-md container-base">

  <div class="contenedor">
    <div class="contenedor-title">
      <h1>BLA BLA BLA BLA</h1>
    </div>
    <div class="contenedor-text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio perspiciatis, officiis natus facere molestiae doloribus autem neque harum totam possimus minus asperiores ipsam nam voluptate aut eum laudantium fugiat mollitia.</p>
    </div>
  </div>

  <div class="row contenedor2">
    <div class="col-md-6 cont-img">
      <img src="assets/iconos/bob.png" alt="Bob saliendose de la pantalla">
    </div>
    <div class="col-md-6 cont-sec">
      <div class="container">
        <h1>Nuestra mision</h1>
      </div>
      <div class="cont-mision">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus dicta incidunt inventore dolores modi eos nisi, minus repellendus accusantium ut dignissimos sit odit alias recusandae, porro commodi ratione maxime.</p>
      </div>
    </div>
  </div>
  <div class="container-md footer-impr">

    <div class="row nombres">
      <p class="col">Andrea Galindo</p>
      <p class="col">Maria Fernanda</p>
      <p class="col">Santiago Molina</p>
      <p class="col">Santiago Navarrete</p>
      <p class="col">Luis Ruiz</p>

    </div>
    <div class="row">
      <div class="col"><img class="fotos" src="assets/nosotros/andrea.png" alt=""></div>
      <div class="col"><img class="fotos" src="assets/nosotros/mafe.png" alt=""></div>
      <div class="col"><img class="fotos" src="assets/nosotros/molina.png" alt=""></div>
      <div class="col"><img class="fotos" src="assets/nosotros/santiago.png" alt=""></div>
      <div class="col"><img class="fotos" src="assets/nosotros/luis.png" alt=""></div>
    </div>
  </div>
</div>
  
<div class="integrantes">
</div>