<div class="container-md">
  <div class="search-bar">
    <input type="text" id="searchInput" [(ngModel)]="filter" placeholder="Palabras Clave... | Dirección" aria-label="Buscar" (input)="filtrarTrabajadores()">
    <button>🔍</button>
  </div>
</div>

<div class="container-md container-trabajadores">
  <div class="row" *ngIf="todos">
    <div class="col-sm-4" *ngFor="let t of trabajadoresFiltrados; let i = index">
      <div class="card" (mouseenter)="showAdditionalInfo(i)" (mouseleave)="hideAdditionalInfo(i)">
        <div class="card-header">
          <img src="{{t.foto}}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{t.nombre}}</h5>
          <p class="card-text">{{t.especialidad}}</p>
        </div>
      </div>
      <div class="additional-info container" *ngIf="t.showInfo">
          <div class="additional-content">
            <p>{{t.nombre}}</p>
            <p>"{{t.descripcion}}"</p>
            <p>{{t.especialidad}}</p>
        </div>
      </div>
      <div class="fondo" *ngIf="t.showInfo">
      </div>
    </div>
  </div>
</div>

  <!-- plomeros -->
  <div class="row" *ngIf="plomero">
    <div class="col-sm-4" *ngFor="let t of plomeros">
      <div class="card">
        <div class="card-header">
          <img src="{{t.foto}}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{t.nombre}}</h5>
          <p class="card-text">{{t.descripcion}}</p>
          <div class="additional-info container" *ngIf="t.showInfo">
            <div class="additional-content">
              <p>{{t.nombre}}</p>
              <p>"{{t.descripcion}}"</p>
              <p>{{t.especialidad}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- electricistas -->
  <div class="row" *ngIf="electrico">
    <div class="col-sm-4" *ngFor="let t of electricos">
      <div class="card">
        <div class="card-header">
          <img src="{{t.foto}}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{t.nombre}}</h5>
          <p class="card-text">{{t.descripcion}}</p>
          <div class="additional-info container" *ngIf="t.showInfo">
            <div class="additional-content">
              <p>{{t.nombre}}</p>
              <p>"{{t.descripcion}}"</p>
              <p>{{t.especialidad}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- maestro -->
  <div class="row" *ngIf="maestro">
    <div class="col-sm-4" *ngFor="let t of maestros">
      <div class="card">
        <div class="card-header">
          <img src="{{t.foto}}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{t.nombre}}</h5>
          <p class="card-text">{{t.descripcion}}</p>
          <div class="additional-info container" *ngIf="t.showInfo">
            <div class="additional-content">
              <p>{{t.nombre}}</p>
              <p>"{{t.descripcion}}"</p>
              <p>{{t.especialidad}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

